.banner {
    display: block;
    padding: 5px;
    margin: 0px;
    width: 100vw;
    height : 50vw;
    position: relative;
}

.bannerText {
    position: relative;
    top:100px;
    z-index: 20px;
    text-align: center;
    color: rgb(245, 8, 0);
}